.title { 
    color:green;
    text-align: center;
}
#app {
    position: relative;
}
.leftbar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    z-index: 100;
    padding: 10px;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    overflow-y: auto;
} 
.rightbar {
    position: relative;
    top: 0;
    translate:middle-x;
    background-color:red;
    color: midnightblue;
} 
.topbar {
    position: top;
    background-color:darkseagreen;
    color: rgb(43, 79, 90)
} 
.bottombar {
    position: right;
    background-color: aquamarine;
    color: rgb(27, 27, 209)

} 

.content {
    background-color: aquamarine;
    position: relative;
    top: 100;
    right: 100;
    left: 200px;
    white-space: pre-wrap;
}